<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Forecast App</title>
        <meta name="description" content="Weather forecast">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png" type="image/x-icon"/>
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
        <link rel="stylesheet" href="public/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="lib/Helpers.js"></script>
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="factories/cityData.js"></script>
        <script src="factories/weatherService.js"></script>
        <script src="factories/storageHandler.js"></script>
        <script src="components/loading-widget.component.js"></script>
        <script src="components/units-container.component.js"></script>
        <script src="components/input-box.component.js"></script>
        <script src="components/main-box.component.js"></script>
        <script src="components/bottom-box.component.js"></script>
    </head>
    <body>
        <div ng-app="forecastApp">
            <div class="app-header w-100 animation-appear">
                <img src="public/header.png">F<span style="font-size:2rem;">orecast</span>
            </div>
            <div ng-controller="appController" class="app">

                <input-box update-displayed-data="updateDisplayedData(dataObj,isCurrent)" get-weather-data="getWeatherData()"
                clean-five-day-data="$ctrl.cleanFiveDayData()"></input-box>
                
                <div class="hor-line" ng-show="displayedWeatherData !== undefined "></div>

                <div class="forecast-section w-100">
                    <div class="forecast-placeholder flex-center" ng-show="displayedWeatherData === undefined">
                        The weather forecast will show up here
                    </div>
                    <div class="forecast-error flex-center" ng-show="serviceError">{{ serviceErrorMessage }}</div>
                    <div class="loading-window flex-center" ng-show="forecastLoading">
                        <loading-widget showtext="true"></loading-widget>
                    </div>
                    <main-box ng-show="displayedWeatherData !== undefined" displayed-weather-data="displayedWeatherData" 
                    forecast-loading="forecastLoading" showing-current="showingCurrent" show-current="showCurrent()"></main-box>  
                    <div ng-show="displayedWeatherData !== undefined">
                        <loading-widget ng-if="fiveDayData.length === 0" showtext='false' ></loading-widget>
                        <bottom-box ng-if="fiveDayData.length > 0" fivedaydata="fiveDayData" 
                           update-displayed-data="updateDisplayedData(dataObj, isCurrent)" forecasthourindex="forecastHourIndex">
                        </bottom-box>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

